@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* ========================================= Variables Section Starts ================================  */
:root {
    --color-primary: #6f6af8;
    --color-primary-light: hsl(242, 91%, 69%, 18%);
    --color-primary-variant: #5854c7;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --color-white: #f2f2fe;
    --color-bg: #0f0f3e;
    --transition: all 300ms ease;
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;
    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}
/* ========================================= Variables Section Ends ================================  */
/* ========================================= Primary Section Starts ================================  */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: var(--color-gray-200);
    overflow-x: hidden;
    background-color: var(--color-bg);
    font-size: 0.9rem;
}
.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}
section {
    margin-top: 3rem;
    width: 100vw;
}
h1,
h2,
h3,
h4,
h5 {
    color: var(--color-white);
    line-height: 1.3;
}
h1 {
    font-size: 3rem;
    margin: 1rem 0;
}
h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3 {
    font-size: 1.1rem;
    image-rendering: 0.8rem 0 0.5rem;
}
h4 {
    font-size: 1rem;
}
a {
    color: var(--color-white);
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}
/* ========================================= Primary Section Ends ================================  */
/* ========================================= Nav Section Starts ================================  */
nav {
    background-color: var(--color-primary);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav button {
    display: none;
    cursor: pointer;
}
.nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
}
nav .logo {
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-items {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav-profile {
    position: relative;
    cursor: pointer;
}
.nav-profile ul {
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-900);
    visibility: hidden;
}
.nav-profile:hover>ul {
    visibility: visible;
    opacity: 1;
}
.nav-profile ul li a {
    padding: 1rem;
    background-color: var(--color-gray-900);
    display: block;
    width: 100%;
}
/* ========================================= Nav Section Ends ================================  */
/* ========================================= Fetured Section Starts ================================  */
.category-button {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}
.category-button:hover {
    background-color: var(--color-white);
}
.post-thumbnail {
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-900);
    overflow: hidden;
    margin-bottom: 1.6rem;
    height: fit-content;
}
.author {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}
.post-author-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-3);
    overflow: hidden;
}
.fetured {
    margin-top: 8rem;
}
.fetured-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
/* ========================================= Fetured Section Ends ================================  */
/* ========================================= Post Section Starts ================================  */
.post-info .category-button {
    margin-bottom: 1rem;
}
.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}
.category-buttons {
    padding: 4rem 0;
    border-top: 2px solid var(--color-gray-900);
    border-bottom: 2px solid var(--color-gray-900);
}
.container-buttons {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
/* ========================================= Post Section Ends ================================  */
/* ========================================= foooter Section starts ================================  */
footer {
    background: var(--color-gray-900);
    padding: 5rem 0 0;
    width: 100vw;
}
.footer-socials {
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
}
.footer-socials a {
    background: var(--color-bg);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h4 {
    color: var(--color-white);
    margin-bottom: 0.6rem;
}
footer ul a {
    opacity: 0.70;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem;
}
.search_bar {
    margin-top: 7rem;
}
.search-container {
    position: relative;
    width: 30rem;
    background: var(--color-gray-900);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-2);
    color: var(--color-gray-300);
}
.search-container>div {
    width: 100%;
    display: flex;
    align-items: center;
}
.search-container input {
    margin-left: 1.7rem;
    background: transparent;
    padding: 0.5rem;
    width: 100%;
    color: var(--color-white);
}
.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    color: white;
}
.btnREd {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-red);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    color: white;
}
.search-container button {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    color: white;
}
.singlePost {
    margin: 6rem 0 2rem;
}
.singlePost_container {
    width: 40%;
    background-color: var(--color-gray-900);
    padding: 1rem 2rem 2rem;
}
.singlepost_thumbnail {
    margin-top: 1.5rem;
}
.singlePost_container p {
    margin-top: 1rem;
    line-height: 1.7;
}
.cat-container {
    padding: 2rem 2rem 0 0;
    text-align: center;
}
.page-head-about {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}
.about-head {
    display: flex;
    padding: 40px 80px;
    gap: 40px;
    align-items: center;
    background-color: var(--color-gray-900);
    border-bottom: 2px solid var(--color-bg);
    padding-bottom: 8rem;
}
.about-head img {
    width: 50%;
    height: auto;
}
.formSec {
    display: grid;
    place-items: center;
    height: 100vh;
}
.sign_container {
    width: var(--form-width);
}
.alert_message_error {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
}
.alert_message_error.err {
    background-color: var(--color-red-light);
    color: var(--color-red);
}
.alert_message_error.success {
    background-color: var(--color-green-light);
    color: var(--color-green);
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-controll {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
input,
textarea,
select {
    padding: 0.8rem 1.4rem;
    background-color: var(--color-gray-900);
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-white);
}
.formSec small {
    margin-top: 0.5rem;
    display: block;
}
.formSec a {
    color: var(--color-primary);
}
.formSec button {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    width: fit-content;
}
select {
    color: rgb(168, 159, 159);
    padding-right: 5px;
}
.form-details {
    padding: 20px 80px;
    display: flex;
    align-items: center;
    margin: 30px;
    padding: 80px;
}
.form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-details form span {
    font-size: 12px;
}
.form-details form h2 {
    font-size: 26px;
    line-height: 35px;
}
.form-details form input,
.form-details form textarea {
    width: 100%;
    height: auto;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #ccc6c6;
}
.form-details form button {
    background-color: #088178;
    color: white;
}
.form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
.form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
.form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
.form-details .people div span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.dashboard_container {
    display: flex;
    background-color: var(--color-gray-900);
    padding: 2rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    align-items: self-start;
    height: 30rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
.dashboard_container aside .LIdiff {
    display: flex;
    gap: 1rem;
    height: 4rem;
    background-color: var(--color-primary);
    padding: 1rem;
    margin-right: 2rem;
    width: 12rem;
    border-bottom: 1px solid black;
    align-items: center;
}
.dashboard_container aside .LIdiff:hover {
    background-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}
.manage {
    display: flex;
    gap: 1rem;
    height: 4rem;
    padding: 1rem;
    margin-right: 1rem;
    width: 12rem;
    align-items: center;
}
table {
    width: 45rem;
    text-align: left;
}
.active {
    display: flex;
    gap: 1rem;
    height: 4rem;
    padding: 1rem;
    margin-right: 2rem;
    width: 12rem;
    align-items: center;
    justify-content: center;
}
table th {
    background-color: var(--color-gray-700);
    padding: 0.8rem;
    color: white;
}
table td {
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-gray-200);
}
.category .firstButton,
.secondButton {
    visibility: hidden;
}
/* ========================================= foooter Section ends ================================  */
@media screen and (max-width:1024px) {
    .container {
        width: 80%;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 0.8rem;
    }
    nav button {
        display: inline-block;
        font-size: 1.5rem;
        background: var(--color-white);
        color: white;
        background: transparent;
    }
    .close-nav {
        display: none;
    }
    .nav-container {
        position: relative;
    }
    .nav-items {
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 18rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        visibility: hidden;
    }
    .nav-items li {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        background-color: var(--color-gray-900);
        border-top: 1px solid var(--color-bg);
        animation: animateDropdown 4s 0s ease forwards;
        opacity: 0;
    }
    @keyframes animateDropdown {
        0% {
            transform: rotateX(90deg);
        }
        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }
    .nav-items li a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: var(--color-gray-900);
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }
    .nav-profile ul {
        top: 100%;
        width: 100%;
    }
    .nav-profile .avatar {
        margin-left: 2rem;
        border: 0;
    }
    .fetured-container {
        gap: 3rem;
        padding: 2rem;
    }
    .post-container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding: 2rem;
    }
    .search-container {
        width: var(--container-width-md);
    }
    .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .formSec {
        padding: 0;
    }
    .sign_container {
        width: 50%;
    }
    .dashboard_container {
        padding: 0;
        background-color: transparent;
    }
    .dashboard_container h5 {
        display: none;
    }
    .dashboard_container aside .LIdiff {
        width: 90px;
        justify-content: center;
        gap: 1rem;
    }
    .manage {
        width: 90px;
        justify-content: center;
    }
    table thead {
        display: none;
    }
    table {
        width: 41rem;
    }
}
@media screen and (max-width:790px) {
    .category .firstButton {
        visibility: visible;
        background-color: var(--color-primary-variant);
        color: white;
        position: fixed;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50% 0 0 50%;
        right: 0;
        bottom: 4rem;
        font-size: 1rem;
    }
    .about-head img {
        width: 70%;
    }
    .about-head {
        flex-direction: column;
    }
    .categorySecondBtn {
        visibility: visible;
        background-color: var(--color-primary-variant);
        color: white;
        position: fixed;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50% 0 0 50%;
        right: 0;
        bottom: 4rem;
        font-size: 1rem;
    }
    .active {
        width: 90px;
    }
    .dashboard_container {
        overflow: visible;
        height: auto;
    }
    .dashboard_container aside {
        visibility: hidden;
        position: fixed;
        left: 0;
        height: 100vh;
    }
    table {
        width: 92vw;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .category h2 {
        text-align: center;
    }
    .category table tr {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    section {
        margin-top: 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    .search-container {
        width: 20rem;
    }
    .fetured {
        margin-top: 6rem;
    }
    .fetured-container {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 3rem;
    }
    .post-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 3rem;
    }
    .container-buttons {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }
    footer a {
        font-size: 1rem;
    }
    .footer-container {
        padding: 2rem;
    }
    .form-details {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .fetured a,
    footer li a {
        font-size: 1rem;
    }
    .form-details form {
        width: 100%;
    }
    .search-container {
        width: 60%;
    }
    .about-head img {
        width: 100%;
    }
    .about-head {
        flex-direction: column;
    }
    .singlePost_container {
        background: transparent;
        padding: 0;
        width: 300px;
    }
    .sign_container {
        width: 60%;
    }
}
@media screen and (max-width:450px) {
    table {
        margin: 0;
    }
}